<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EventManagement</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ManageEvents">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ViewEvents">
                
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> View Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ViewFeedbacks">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> View Feedbacks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ViewRegistrations">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> View Registrations
            </NavLink>
        </div>
       
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
